@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Outfit", sans-serif;
}
.container {
  background-image: url("../assets/img/bg.jpg");
  background-size: cover;
  height: 1000px;

}
#logo {
 width: 20%;
 padding-top: 60px;
 padding-left: 170px;
}
h1 {
  text-align: center;
  color: white;
  
  
}
#span-h1 {
  font-size: 70px;
  font-weight: 600;
  
  
}
p {
  color: white;
  text-align: center;
  padding-top: 7px;
  
}
#span-p {
  font-size: 30px;
  font-weight: 400;
  
}

#rateus {
 display: block;
 margin: 0 auto;
 width: 100px;
 margin-top: 520px;
 padding-right: 100px;
 
}
button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 80px;
  padding-right: 80px;
  color: white;
  background-color:transparent ;
  border-color: white;
 white-space: nowrap;
font-size: 20px;
font-weight: 700;
box-shadow: 0px 0px 15px 15px #20184d;
}
